# Kernel
arch/			@egelja @kjhayes
include/		@egelja @kjhayes
kernel/			@egelja @kjhayes

# Documentation
docs/			@egelja
*.md			@egelja
LICENSE			@egelja

# libc
libc/			@echavemann

# Build system
.github/		@egelja
cmake/			@egelja
scripts/		@egelja
toolchain/		@egelja
tools/			@egelja
CMakeLists.txt		@egelja
KConfig			@egelja
Makefile		@egelja
shell.nix		@egelja

# Other
.clang*			@egelja
.gitignore		@egelja
.gitmodules		@egelja
.git-blame-ignore-revs	@egelja
